
@import url("../bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("../bower_components/bootstrap/dist/css/bootstrap-theme.min.css");
@import url("../bower_components/sco.js/css/scojs.css");

body {
	background-color: #fafafa;
	font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
h1 {
	margin-bottom: 20px;
}
ul, ol {
	list-style-type: none;
}
a, label, input[type="checkbox"], input[type="radio"] {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
.btn-group-vertical {
	display: block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	cursor: pointer;
}
.tab-content {
	margin-top: 8px;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #F4F4F4;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
	color: #ddd;
}
#navbar {
	margin-bottom: 0;
}
#navbar .glyphicon-user {
	margin-right: 6px;
}

#frame {
	padding: 10px;
	margin: auto;
	width: 100%;
	max-width: 500px;
}
#body-wrapper>footer {
	margin-top: 20px;
}
.li-label {
	font-weight: bold;
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #f5f5f5;
}
th {
	min-width: 80px;
}
th, td {
	word-break: break-all;
}
th[colspan], td[colspan] {
	text-align: center;
}

/* 表单 */
.form-group {
	margin-bottom: 5px;
}
.form-group * {
	font-size: 20px !important;
}
.form-control {
	padding: 12px;
	height: 48px;
}
textarea.form-control {
	height: auto;
}
input[type="file"].form-control {
	font-size: 14px !important; /* mobile style comp */
}
.input-group-addon {
	padding: 3px 6px;
	height: 48px;
}
.input-group-btn .btn {
	height: 48px;
}
textarea {
	resize: none;
}

/* 验证码 */
#canvas-vcode {
	width: 120px;
	height: 36px;
}
/* 投票详情 */
#list-viewvote #content {
	margin-left: 40px;
}
#list-viewvote #chart {
	margin: auto;
	display: block;
	width: 75% !important;
	height: auto !important;
}
#list-viewvote #words {
	padding-top: 6px;
	padding-bottom: 6px;
}
#list-viewvote #words > li {
	padding: 4px;
}
#list-viewvote .square {
	width: 24px;
	height: 24px;
	margin-right: 14px;
	display: inline-block;
}
#list-viewvote .word {
	vertical-align: top;
}
/* 听众反应 */
#table-msg th {
	min-width: 80px;
}
#table-audience th {
	min-width: 80px;
}

#page_message {
	opacity: 0.94;
}
#form-qna-toggle {
	margin-bottom: 20px;
}


/* 抽奖列表 */
#table-lotterylist th:nth-child(1) {
	min-width: 80px;
}
#table-lotterylist th:nth-child(2) {
	min-width: 60px;
}
#table-lotterylist th:nth-child(3) {
	min-width: 120px;
}
/* 抽奖详情 */
#list-viewlottery > .list-group-item > p {
	margin-left: 40px;
}
#list-viewlottery #num {
	margin-left: 8px;
}
#list-viewlottery #list-awardslist {
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}