
<div id="main-wrapper">
	<h1>抽奖列表</h1>

	<table id="table-lotterylist" class="table table-striped">
		<thead>
		<tr>
			<th class="long">抽奖</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody>
            <script type="text/html" id= "tr-tmpl">
                <tr>
                <td><%- content %></td>
                <td><%- state %></td>
                <td>
                    <a href="#/viewlottery?lyid=<%- lyid %>">详情</a>
                    </td>
                </tr>
            </script>

		</tbody>
	</table>
</div>

<script>
	var $tableList = $('#table-lotterylist'),
		$tbody = $tableList.find('tbody'),
        trTmpl = _.template($tbody.find('#tr-tmpl').html());


	    updateLotteryList();

	function updateLotteryList() {
		$.get('/do/a/lotterylist', function(resObj){
			var ok = resObj['ok'], msg = resObj['msg'];
			msg && notify(msg, ok);
			if (! ok) return;
			var lotteryList = resObj['lotteryList'];
			if (! lotteryList.length) {
				return $tbody.html([
					'<tr>',
					'<td colspan="3">没有记录</td>',
					'</tr>'
				].join(''));
			}
            $tbody.html(_.reduce(lotteryList, function(memo, lottery){
                return memo + trTmpl({
                    lyid:lottery.id,
                    content: lottery.content,
                    state: lottery['state'] === 'active' ? '已结束' : '未开始'
                });
            }, ''));
		});
	}

</script>



