
<style>
	#table-votelist th:nth-child(1) {
		min-width: 80px;
	}
	#table-votelist th:nth-child(2),
	#table-votelist th:nth-child(3) {
		min-width: 60px;
	}
</style>

<div id="main-wrapper">
	<h1>投票列表</h1>

	<table id="table-votelist" class="table table-striped">
		<thead>
		<tr>
			<th>问题</th>
			<th>状态</th>
			<th>是否参与</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody>
        <script type="text/html" id= "tr-tmpl">
            <tr>
                <td><%- content %></td>
                <td><%= state %></td>
                <td><%= voted %></td>
                <td>
                    <% if(voted === '已参与'){ %>
                    <a href="#/viewvote?vid=<%= vid %>">详情</a>
                    <% }else{  %>
                        <% if(state === '开启'){ %>
                        <a href="#/vote?vid=<%= vid %>">参与</a>
                        <% }else{ %>
                        <span>等待</span>
                        <% } %>
                    <% } %>
                </td>
            </tr>
        </script>
		</tbody>
	</table>
</div>

<script>
	var $tableList = $('#table-votelist'),
			$tbody = $tableList.find('tbody'),
            trTmpl = _.template($tbody.find('#tr-tmpl').html());

	updateVoteList();

	function updateVoteList() {
		$.get('/do/a/votelist', function(resObj) {
			var ok = resObj['ok'], msg = resObj['msg'];
			msg && notify(msg, ok);
			if (! ok) return;
			var voteList = resObj['voteList'];
			if (! voteList.length) {
				return $tbody.html([
					'<tr>',
						'<td colspan="4">没有记录</td>',
					'</tr>'
				].join(''));
			}
			var votedList = resObj['votedList'];
			$tbody.html(_.reduce(voteList, function(memo, vote){
				var vid = vote['id'],
					active = vote['state'] === 'active',
					voted = _.contains(votedList, vid);
				return memo +trTmpl({
                    vid:vote.id,
                    content: vote.content,
                    state: vote['state'] === 'active' ? '开启' : '关闭',
                    voted: voted ? '已参与' : '未参与'
                });
			}, ''));
		});
	}
</script>


