
<div id="main-wrapper">
	<h1>
		<i class="glyphicon glyphicon-question-sign"></i>提问管理
	</h1>
	<form id="form-qna-toggle">
		<div class="btn-group btn-group-lg">
			<button type="submit" class="btn btn-default" name="state" value="open">开启</button>
			<button type="submit" class="btn btn-default" name="state" value="close">关闭</button>
		</div>
	</form>

	<table id="table-msglist" class="table table-striped">
		<thead>
		<tr>
			<th>听众昵称</th>
			<th>提问内容</th>
		</tr>
		</thead>

		<tbody>
            <script type="text/html" id= "tr-tmpl">
                <tr>
                    <td><%- audienceName %></td>
                    <td><%- text %></td>
                </tr>
            </script>
		</tbody>
	</table>
 </div>


<script>
	var $table = $('#table-msglist'),
		$tbody = $table.find('tbody'),
		$formToggle=$('#form-qna-toggle'),
        trTmpl = _.template($tbody.find('#tr-tmpl').html());

	$.get("/do/s/getqna", function(resObj){
		var state = resObj['state'];
		$formToggle.find('[value="'+ state +'"]').addClass('active');
	});

	$formToggle.find('[name="state"]').on('click', function(){
		$(this).addClass('active').siblings().removeClass('active');
	});
	$formToggle.on('submit', function(ev){
		ev.preventDefault();
		$.get('/do/s/setqna', {
			state: $formToggle.find('[name="state"].active').val()
		}, function(resObj) {
			var ok = resObj['ok'], msg = resObj['msg'];
			msg && notify(msg, ok);
		});
	});

	getMessageList();

	function getMessageList() {
		$.get('/do/s/msglist', function(resObj){
			var ok = resObj['ok'], msg = resObj['msg'];
			msg && notify(msg, ok);
			if (! ok) return;
			var msgList = resObj['msgList'];
			if (! msgList.length) {
				return $tbody.html([
					'<tr>',
						'<td colspan="2">没有记录</td>',
					'</tr>'
				].join(''));
			}
			$tbody.html(_.reduce(msgList, function(memo, msg){
				return memo + trTmpl({
                    audienceName:msg.audienceName,
                    text: msg.text
                });
			}, ''));
		});
	}
</script>